/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

/* Contenedor del avatar 3D */
#avatarCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Caja de la cámara */
#cameraBox {
    margin-top: 2%;
    width: 55vw;
    max-width: 300px;
    aspect-ratio: 4/3;
    border-radius: 10px;
    overflow: hidden;
}

#cameraVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto del bot */
#textBotContent {
    max-width: 100%;
    margin-top: 2%;
    width: 600px;
    padding: 1em;
    background: rgba(180, 174, 174, 0.8);
    border-radius: 14px;
    font-size: clamp(12px, 2vw, 18px);
}

/* Controles */
#controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
    padding: 1% 0.5%;
    background-color: rgba(83, 78, 78, 0.7);
    z-index: 10;
}

#controls button,
#controls a {
    padding: 0.5em 1em;
    border-radius: 8px;
    border: none;

    color: white;
    font-size: clamp(12px, 1.5vw, 16px);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}



#recordBtn {
    user-select: none;
    /* Evita selección de texto */
    -webkit-user-select: none;
    /* Para Safari/Chrome en iOS */
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
    /* Mejora la interacción táctil */
}

#btnexit{
    background: #007bff00 ;
}
#btnexit :hover{
    background: #ff00001f ;
}

#recordingIndicator { 
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

