/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

/* Contenedor del avatar 3D */
#avatarCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Caja de la cámara */
#cameraBox {
    margin-top: 2%;
    width: 55vw;
    max-width: 300px;
    aspect-ratio: 4/3;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 8px rgb(0 0 0 / 83%);
}

#cameraVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto del bot */
#textBotContent {
    max-width: 100%;
    margin-top: 2%;
    width: 600px;
    padding: 1em;
    background: rgba(180, 174, 174, 0.8);
    border-radius: 14px;
    font-size: clamp(12px, 2vw, 18px);
}

/* Controles */
#controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
    padding: 1% 0.5%;
    background-color: rgba(0, 0, 0, 0.7);

}

#controls button,
#controls a {
    padding: 0.5em 1em;
    border-radius: 8px;
    border: none;

    color: white;
    font-size: clamp(12px, 1.5vw, 16px);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}



#recordBtn {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 12px 25px rgba(0, 123, 255, 0.5);
    background: linear-gradient(145deg, #007bff, #0056b3);
    user-select: none;
    /* Evita selección de texto */
    -webkit-user-select: none;
    /* Para Safari/Chrome en iOS */
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
    /* Mejora la interacción táctil */
}


#btnexit {
    border-radius: 50px !important;
}

#recordingIndicator {
    font-size: 18px;
    font-weight: bold;
    color: #ff4b4b;
    animation: blink 1s infinite;
}

#loading.oculto {
    display: none !important;
}

#counter {
    font-size: 1.5rem;
    color: #ffffff;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}